<head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/styles.css">
</head>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/login">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">




      <ul class="nav navbar-nav navbar-right">
        <!-- log out button -->
        <li>

    </li>
        <!-- Create Tweet -->
        <li>
        </li>

          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>






<div>

  <div class = "jumbotron text-center">
<p> Sign Up </p>

<form action='/users/new' method='post'>
  <label>First Name </label>
  <input name="user[first_name]" type="text" value="">

  <label>Last Name </label>
  <input name= "user[last_name]" type="text" value="">

  <label>Location </label>
  <input name= "user[location]" type="text" value="">

  <label>Email </label>
  <input name="user[email]" type="text" value="">

  <label>Username </label>
  <input name="user[user_name]" type="text" value="">

  <label>Password </label>
  <input  name="user[password]" type="password" value="">

  <!-- <label>Retype Password </label>
  <input name="password_check" type="text" value=""> -->

  <input type='submit' value='Sign Up' class='button'>
</form>
</div>
</div>
